body {
    margin: 0;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 500;
    background-color: #f2f2f2;
}

/* Logo */

.top {
  position: fixed;
  top: 0;
  background-color: #f2f2f2;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.dentael_top {
  padding: 1%;
  padding-top: 1.5%;
  width: 20%;
  min-width: 200px;
}

/* Links */

a:link {
    color: #F7F7F7;
    text-decoration: none;
  }
a:hover {
    color: #4A403A;
  }
  a:visited {
    color: #F7F7F7;
  }

/* Boxes */

.allBoxes {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-image: url(/images/stain_small.jpg);
    background-color: #f2f2f2;
    background-image: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10%;
    padding: 5%;
    padding-bottom: 4%;
    margin-top: 90px;
}

@media only screen and (min-width: 600px) {
  .allBoxes {
    background-image: url(/images/splint3d.jpg); 
    background-color: #f2f2f2;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 85% 100%;
    background-position: center;
  }
} 

.box {
    margin-left: auto;
    margin-right: auto;
    width: 120px;
    height: 90px;
    border-radius: 5px;
    background-color: rgba(119,141,174, 0.8);
    text-align: center;
    padding-top: 30px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.twoLine {
  padding-top: 20px;
  padding-bottom: 10px;
}

/* Footer */

.footer {
  background-color: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  color: black;
  padding-bottom: 2%;
}
.footer_container{
  text-align: center;
  padding-top: 2%;
  width: 250px;
}
.icon {
  width: 3%;
  min-width: 50px;
}
.mail {
  width: 22%;
}
.location {
  width: 2%;
}