body {
    background-color: white;
    font-family: 'Roboto Flex', sans-serif;
    color: #F7F7F7;
}

/* Logo */

.top {
    background-color: white;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.dentael_top {
    padding: 1%;
    padding-top: 1.5%;
    width: 20%;
    min-width: 200px;
  }

/* Main */

.main {
    margin: 30px auto;
    width: 90%;
    border-radius: 5px;
    background-color: rgba(119,141,174, 1);

}

/* Polaroid picture */

.polaroid {
    display: block;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 15px;
    width: 300px;
    height: 300px;
}

/* Text part */

.texts {
    display: flex;
    flex-direction: column;
}
.instructions {
    width: 90%;
    margin: 20px auto;
}
h1 {
    color: #4A403A;
    text-align: center;
}
p {
    text-align: justify;
    line-height: 25px;
}
li {
    line-height: 25px;
}

/* Download */

.download {
    width: 40%;
    padding: 15px;
    margin-top: 60px;
    padding-bottom: 60px;
}
.download p {
    text-align: center;
    font-size: 20px;
    border-radius: 6px;
    background-color: #4A403A;
    padding-top: 5px;
    padding-bottom: 5px;
}
a:link {
    color: #F7F7F7;
    text-decoration: none;
  }
  a:visited {
    color: #F7F7F7;
  }
  a:hover {
    color: rgba(141, 141, 170);
  }