body {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 0.7em;
}
::-webkit-scrollbar-track {
  background-color: #f2f2f2;
  border-radius: 100vw;
  margin-block: 50px;
}
::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 8px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
}
::-webkit-scrollbar-thumb:hover {
  background: #7F8487;
}

@supports (scrollbar-color: #cccccc rgba(119,141,174, 0.7)) {
  * {
    scrollbar-color: #cccccc rgba(119,141,174, 0.7);
  }
}

/* Logo */

.dentael_top {
  max-width: 200px;
}
@media only screen and (max-width: 600px) {
  .dentael_top {
    width: 100px;
    margin-left: 20px;
  }
} 


/* Navbar */ 

.nav-bar nav {
  text-align: center;
  margin-left: 0;
}
.nav-item {
  text-align: center;
  padding: 0 15px;
}

@media (max-width: 1200px) {
.navbar-links {
  display: none;
}
.logo {
  margin: auto;
}
}

/* All pictures */

img {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5%;
    /* border-radius: 5px; */
}
.firstPic {
  padding-bottom: 0;
}
.bg_first_pic {
  width: 100%;
  background-color: #cccccc;
}
.lastPic {
  padding-bottom: 2%;
}
.exp {
padding: 0;
}
.link {
width: 5%;
}

/* Device settings */

@media only screen and (max-width: 600px) {
  img {
    width: 100%;
  }
} 
@media only screen and (min-width: 600px) {
  img {
    width: 80%;
  }
} 
@media only screen and (min-width: 1800px) {
  img {
    width: 70%;
  }
} 

/* Download */

.download {
    width: 35%;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 500;
}
.download p {
    text-align: center;
    font-size: medium;
    border-radius: 6px;
    background-color: #F9C041;
    padding: 2%;
}
.instructions a:link {
    color: #6A779D;
    text-decoration: none;
  }
  .instructions a:visited {
    color: #F7F7F7;
  }
  .instructions a:hover {
    color: rgba(141, 141, 170);
  }
