body {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

/* Logo */

.top {
    /* position: fixed; */
    /* top: 0; */
    background-color: #f2f2f2;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .dentael_top {
    padding: 2%;
    width: 25%;
    min-width: 170px;
  }

/* All pictures */

.link {
  width: 5%;
}

img {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5%;
    /* border-radius: 5px; */
}

.firstPic {
  width: 90%;
}
.lastPic {
  padding-bottom: 5%;
}